*{
  padding: 0;
  margin: 0;
  font-family: verdana;
}
.anitext1{
  paddine : #555;
  position: relative;
  left: 900px
}

.anitext2{
  paddine : #555;
  position: relative;
  animation-name: examplee;
  animation-duration: 1s;  
  animation-fill-mode: forwards;
}

@keyframes examplee {
  from {left: -500px;}
  to {left: 0px; ;}
}
div.gallery {
  margin: 3%;
  border: 1px solid #ccc;
  float: left;
  width: 300px;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.img1:hover {
	width : 40% ;
	height: 50% 

}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}



.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-github {
  background: #430297;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.fa-yahoo {
  background: #430297;
  color: white;
}
